In [21]:
import pandas as pd
import numpy as np

### Q1 Pandas Version

In [2]:
pd.__version__

'2.3.2'

### Q2 Records Count

In [3]:
df = pd.read_csv("./car_fuel_efficiency.csv")

df.sample(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
1827,270,5.0,126.0,2437.937962,14.9,2007,USA,Diesel,All-wheel drive,-1.0,17.777983
1996,180,3.0,NaN,2708.989688,16.2,2008,Asia,Gasoline,All-wheel drive,-2.0,16.611821
407,130,7.0,NaN,2264.982257,13.8,2007,Asia,Diesel,All-wheel drive,-1.0,18.426254
1238,160,3.0,NaN,2458.310193,17.3,2018,Asia,Gasoline,Front-wheel drive,NaN,17.660864
5864,190,5.0,171.0,3654.244559,15.2,2009,Europe,Diesel,Front-wheel drive,0.0,11.932084

In [6]:
df.shape[0] #record counts

9704

### Q3 Fuel Type

In [7]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

### Q4 Missing Values

In [16]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Q5 Max Fuel Efficiency

In [20]:
max(df[df['origin'] == 'Asia']['fuel_efficiency_mpg'])

23.759122836520497

### Q6 Median Value of Hourse Power

In [28]:
df['horsepower'].median()

149.0

In [29]:
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [32]:
df['horsepower'] = df['horsepower'].fillna(0)

In [33]:
df['horsepower'].median()

146.0

In [34]:
df['horsepower'].mode()

0    0.0
Name: horsepower, dtype: float64

### Q7 Sum of weights

In [38]:
X = df[df['origin'] == 'Asia'][['vehicle_weight','model_year']][0:7].copy()

In [40]:
XTX = np.dot(X.T, X)

In [42]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [47]:
np.dot(np.dot(np.linalg.inv(XTX), X.T), y).sum()

np.float64(0.5187709081074007)